@import "tailwindcss";

body {
  font-family: var(--font-manrope), sans-serif;
}

:root {
  --background: #0a0b10;
  --foreground: #d9d7d9;
  --card: #191a33;

  --primary-50: #a186ac;
  --primary-100: #9471a8;
  --primary-200: #835ba4;
  --primary-300: #704c9a;
  --primary: #5d3e8e;
  --primary-400: #4a3281;
  --primary-500: #372772;
  --primary-600: #2b245c;
  --primary-700: #211f47;
  --primary-800: #191a33;
  --primary-900: #121421;
  --primary-950: #0a0b10;

  --shadow-card: 1px 2px 2px 1px rgb(55 39 114 / 0.69);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary: var(--primary);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --shadow-card: var(--shadow-card);
}

.slider {
  @apply w-[244px] h-[10px] appearance-none bg-primary-950 rounded-full outline-none;
}

.slider::-webkit-slider-thumb {
  @apply appearance-none w-[29px] h-[29px] bg-primary-950 rounded-full cursor-grab border border-primary-500 scale-105;
  background-image: url("/unfold_more.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.slider::-moz-range-thumb {
  @apply w-[27px] h-[27px] bg-primary-950 rounded-full cursor-grab border border-primary-500 scale-105;
}
