.passwordLoader {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background-color: var(--primary-700);
  margin-top: 45px;
  padding: 15px;
}
.box1,
.box2,
.btn {
  background-color: var(--primary-800);
  border-radius: 8px;
}

.box1 {
  height: 27px;
}
.box2,
.btn {
  height: 54px;
}
.btn {
  max-width: 284px;
}

.passwordLoader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(33, 31, 71, 0.8) 50%,
    transparent 100%
  );
  animation: animloader 1s linear infinite;
}
@keyframes animloader {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
